button.delete-search {
    border: none;
    background-color: #ff000005;
    color: #D84315;
    font-weight: 800;
}

span.tags-search.badge {
    background-color: #cfd8dc85 !important;
    background: linear-gradient(0deg, #b2dfdb7d 0%, #e0f2f163, #e0f2f1a6 100%);
}